{% extends "_layout.html" %}

{% block title %} Kiefer is the murderer!! {% endblock %}

{% block content %}


<br>
<form method="POST" enctype="multipart/form-data">
<br>
    <label>Profile pic</label>
    <input type="file" name = "image" >    
<br>    
    <label>First name</label>
    <input name = "first_name">
<br>
    <label>Last name</label>
    <input name = "last_name">
<br>
    <label>Email</label>
    <input name = "email">
<br>
    <label>Password</label>
    <input id="password" name="password" type="password">
    <button id="show-password" type="button">Show</button>
<br>
    <label>Bday</label>
    <input name = "BDay" type="date">
  
<Button type="submit">Sign Up</button> 

</form>

<script>
    let input = document.querySelector('#email');
    let message = document.querySelector('#message');
    
    input.addEventListener('input', checkUniqueEmail);
    
    async function checkUniqueEmail() {
        let response = await fetch('checkemail?email=' + input.value);
        let json = await response.json();
        if (json.exists) {
            message.style.color = 'red';
            message.textContent = 'That email already exists.';
        } else if (input.validationMessage) {
            message.style.color = 'orange';
            message.textContent = input.validationMessage;
        } else if (input.value) {
            message.style.color = 'green';
            message.textContent = 'That email is available!';
        } else {
            message.textContent = '';
        }
    }
    </script>
    
    <script>
    let password = document.querySelector('#password');
    let showButton = document.querySelector('#show-password');
    
    showButton.addEventListener('click', togglePassword);
    
    function togglePassword() {
        if (password.type == 'password') {
            password.type = 'text';
            showButton.textContent = 'Hide';
        } else {
            password.type = 'password';
            showButton.textContent = 'Show';
        }
    }
    </script>


{% endblock %}