{% extends "_layout.html" %}

{% block title %} Kiefer is the murderer!! {% endblock %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
<br>

<input name ="id" type="hidden"value="{{ result['id'] }}">
<input name ="old_password" type="hidden" value="{{ result['Password'] }}">
<input name="old_image" type="hidden" value="{{ result['image'] or '' }}">

<br>    
    <label>First name</label>
    <input name = "first_name" value="{{ result['First_name'] }}">
<br>
    <label>Last name</label>
    <input name = "last_name" value="{{ result['Last_name'] }}">
<br>
    <label>Email</label>
    <input name = "email" value="{{ result['Email'] }}">
<br>
    <label>Password</label>
    <input name = "password" type="password">
<br>
    <label>BDay</label>
    <input name = "BDay" type="date" value="{{ result['BDay'] }}">
<br>
    <label>PP</label>
    <input type="file" name="image">
<br>    
<Button type="submit">Sign Up</button> 

</form>

{% endblock %}